fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
motor
asyncpg
sqlalchemy
python-decouple
websockets
python-dotenv
emails
pymongo
pyjwt
redis
alembic
pytest
pytest-asyncio
httpx
requests