version: "3.8"

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8005
    volumes:
      - .:/home/user/web/
    ports:
      - 8005:8005
    env_file:
      - ./.env
    depends_on:
      - db
      - selenium
      - redis

  db:
    image: postgres:13.0-alpine
    volumes:
      - ./postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env

  redis:
    image: redis:alpine
    ports:
      - 6379:6379

  celery:
    build: .
    volumes:
      - .:/home/user/web/
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
      - web
    command: celery --app core worker --loglevel=debug --without-mingle --without-gossip

  selenium:
    image: selenium/standalone-chrome
    shm_size: 2gb
    privileged: true
    ports:
      - 4444:4444
      - 7900:7900
    expose:
      - 4444
      - 7900
